@{
    ViewData["Title"] = "Home Page";
}

@*Sample Slideshow*@
<div id="slideshow">
    <img src ="~/images/best-natural-makeup-looks-black-pin-up-eyeliner-highlighter-lipgloss.jpg" alt="Asp.Net Core 1" />
    <img src ="~/images/CategoryMakeup_02_eyes.jpg" alt="Asp.Net Core 2" />
    <img src ="~/images/Tu-vung-tieng-Anh-chuyen-nganh-Makeup.jpg" alt=" Asp.Net Core 3" />
</div>
<script>
    var slideShow = function (container) {
        this.images = [];
        this.curImage = 0;
        for (i = 0; i < container.childElementCount; i++) {
            this.images.push(container.children[i]);
            this.images[i].style.display = "none";
        }

        var nextSlide = function () {
            for (var i = 0; i < this.images.lenght; i++) {
                this.images[i].style.display = "none";
            }
            this.images[this.curImage].style.display = "block";
            this.curImage++;
            if (this.curImage >= this.images.lenght) {
                this.curImage = 0;
            }
            window.setTimeout(nextSlide.bind(this), 1000);
        };
        nextSlide.call(this);
    };
    slideShow(document.getElementById("slideshow"));

</script>