@{
    ViewData["Title"] = "Success";
}

<h1>You create a new book successfully</h1>

<div>
    <a asp-action="Create">Create new book</a>
</div>

<div>
    <a asp-action="All">List all books</a>
</div>